*
{
    margin: 0;
}

.PDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    height: 100vh;
}

.ParentDiv
{
    border: 1px solid rgb(178, 170, 180);
    width: 50vw;
    height: 70vh;
    border-radius: 7px;
    display: flex;
    padding: 25px;
}

.LeftParentDiv
{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.RightParentDiv
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LeftOneDiv
{
    height: 20%;
}

.LeftTwoDiv
{
    height: 60%;
}

.LeftThirdDiv
{
    height: 20%;
}

.ForBorder
{
    height: 33%;
}

.ForBorderDiv
{
    height: 100%;
    width: 50%;
}

.LeftThirdDiv
{
    display: flex;
}

.RightChildDiv
{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.GoogleImgDiv
{
    width: 20%;
}

.GoogleLogoDiv
{
    display: flex;
    align-items: center;
}

.CreateDiv
{
    display: flex;
    align-items: center;
}

.ContinueDiv
{
    display: flex;
    align-items: center;
}

.SignInDiv
{
    display: flex;
    align-items: center;
}

.NextDiv
{
    display: flex;
    align-items: center;
    justify-content: right;
}

.ForColorBtn
{
    background-color: rgb(8, 8, 245);
    padding: 8px 23px 8px 23px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-right: 35px;
}

.SignInA
{
    text-decoration: none;
    color: rgb(8, 8, 245);
}

.FirstNameDiv , .PasswordDiv
{
    border: 1px solid grey;
    width: 40%;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px;
    
}

.LastNameDiv , .ConfirmDiv
{
    border: 1px solid grey;
    width: 40%;
    border-radius: 3px;
    padding: 5px;
}

.UserNameDiv
{
    border: 1px solid grey;
    width: 85%;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px;
}

.UserNameOneDiv
{
    margin-left: 3px;
    font-size: 13px;
    
}

.ConfirmOneDiv
{
    margin-left: 3px;
    font-size: 13px;
}

/* .ShowPassWordDiv
{
    display: block;
} */

.CheckBoxDiv
{
    margin-top: 15px;
}

.SignLogoDiv
{
    width: 70%;
    height: 75%;
}

.ImageDetailsDiv
{
    width: 70%;
    margin-left: 5px;
}

