* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.TopDiv {
    display: flex;
    justify-content: right;
    align-items: center;
}

/* .TopDiv div
{
    padding-right: 10px;
} */

.PaddingDiv {
    padding: 10px;
}

.MiddleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-bottom: 300px;
}

.LogoDiv
{
    margin-top: 100px;
}

.BottomDiv1 {
    border-bottom: 1px solid rgb(178, 170, 180);
    background-color: rgb(235, 238, 241);
    padding: 10px;
    color: rgb(107, 106, 106)
}

.BottomDiv2 {
    background-color: rgb(241, 237, 237);
    display: flex;
    width: 100vw;
    color: rgb(107, 106, 106);
}

.FirstDiv {
    display: flex;
    width: 40%;
}

.SecondDiv {
    display: flex;
    width: 60%;
    justify-content: right;
}

.SecondDiv div {
    padding: 10px;
}

.FirstDiv div {
    padding: 10px;
}

.icon-img {
    width: 18px;
    height: 18px;
    margin-top: 5px;
}

.sign-btn {
    background-color: rgb(15, 46, 224);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}


.LogoTwoDiv {
    width: 20vw;
}

.SearchDiv {
    outline: none;
    border-radius: 25px;
    border: 0.5px solid rgb(178, 170, 180);
    width : 45vw;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.ButtonOneDiv {
    border: none;
    width: 10vw;
    height: 5vh;
    margin-top: 15px;
    margin-right: 30px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.ButtonOneDiv:hover
{
    border: 1px solid rgb(192, 189, 189);
}

.ButtonTwoDiv {
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.ButtonTwoDiv:hover
{
    border: 1px solid rgb(192, 189, 189);
}

.LanguageDiv
{
    display: flex;
    margin-top: 30px;
}

.LanguageDiv2
{
    display: flex;
    flex-direction: row;

}

.LanguageDiv1
{
    display: flex;
    align-items: center;
}

.LanguageDiv2 div
{
     padding: 5px;
}

.FirstDiv a, .SecondDiv a, .PaddingDiv{
    color: rgb(107, 106, 106);
}
