.TopDiv
{
    border: 2px solid red;
}

.BottomDiv
{
    border: 10px dotted rgb(240, 48, 48);
}

.TopDiv
{
    display: flex;
    justify-content: right;
}

/* .TopDiv div
{
    padding-right: 10px;
} */

.PaddingDiv
{
    padding: 10px;
}

.MiddleDiv
{
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}